name: Import strings
on:
  schedule:
    - cron: "10 15 * * 2" # At 8:10 PDT on Tuesday
  workflow_dispatch:
    inputs:
      type:
        description: Type of update (standard, nofile, matchid)
        required: true
        default: "standard"

jobs:
  build:
    runs-on: macos-15
    strategy:
      max-parallel: 4
      matrix:
        xcode:
          - "26.2"
    steps:
      - name: Clone l10n repository
        uses: actions/checkout@v6
        with:
          path: "l10n_repo"
      - name: Clone main code repository
        uses: actions/checkout@v6
        with:
          repository: "mozilla-mobile/firefox-ios"
          path: "code_repo"
      - name: Select Xcode ${{ matrix.xcode }}
        run: |
          sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app
      - name: Set up Python 3
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - name: Install Python dependencies
        run: |
          pip install -r l10n_repo/.github/scripts/requirements.txt
      - name: Run checkout script
        run: |
          (cd code_repo && ./bootstrap.sh focus)
      - name: Extract strings
        env:
          TYPE: ${{ github.event.inputs.type }}
        run: |
          (cd code_repo && ./focus-ios/focus-ios-tests/tools/export-strings.sh)

          # Copy strings over from es-ES to es
          cp -r l10n_repo/es-ES/*.xliff l10n_repo/es/

          # Copy strings to other locales
          cp code_repo/focus-ios/focusios-l10n/en-US/*.xliff l10n_repo/en-US/
          python l10n_repo/.github/scripts/translate_reference.py --path l10n_repo/en-US
          python l10n_repo/.github/scripts/update_other_locales.py --reference en-US --path l10n_repo --type "$TYPE"
      - name: Import linter config
        run: |
          # Import linter exceptions from code repository
          python l10n_repo/.github/scripts/merge_linter_config.py --source code_repo/.github/l10n/linter_config_focus.json --target l10n_repo/.github/scripts/linter_config.json
      - name: Get the current date for PR title
        run: echo "current_date=$(date +"%Y-%m-%d")" >> $GITHUB_ENV
      - run : git config --global user.email "flodolo@users.noreply.github.com"
      - uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.IOS_L10N_TOKEN }}
          path: "l10n_repo"
          commit-message: "Extract new strings (${{ env.current_date }})"
          branch: l10n_automation
          delete-branch: true
          title: "Extract new strings (${{ env.current_date }})"
